<div *ngIf="!this.isLoggedIn" class="container">
  <fieldset>
    <form
      class="row d-flex justify-content-center"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <!-- USERNAME -->
      <!-- ===================================================== -->
      <div class="col-4 mt-5">
        <label for="register-username"><b>* Username</b></label>
        <div class="w-100"></div>
        <input
          (change)="
            setLocalStorageValue(
              'registerUserName',
              this.registerForm.get('username')?.value
            )
          "
          id="register-username"
          type="text"
          formControlName="username"
          appBannedUsername
        />

        <div class="w-100"></div>
        <div
          *ngIf="this.registerForm.get('username')?.errors?.['required'] &&
                           this.registerForm.get('username')?.touched"
        >
          Username field is empty.
        </div>

        <div
          *ngIf="this.registerForm.get('username')?.errors?.['minlength'] &&
                           this.registerForm.get('username')?.touched"
        >
          Minimum 6 character length is required.
        </div>
        <div
          *ngIf="this.registerForm.get('username')?.errors?.['bannedUsername'] &&
                          this.registerForm.get('username')?.touched"
        >
          The "{{ this.registerForm.get("username")?.value }}" username cannot
          be used to register.
        </div>
      </div>

      <div class="w-100"></div>
      <!-- Password -->
      <!-- ===================================================== -->
      <div class="col-4 mt-3">
        <label for="register-password"><b>* Password</b></label>
        <div class="w-100"></div>
        <input
          (change)="
            setLocalStorageValue(
              'registerPassword',
              this.registerForm.get('password')?.value
            )
          "
          id="register-password"
          type="password"
          formControlName="password"
        />
        <div class="w-100"></div>
        <div
          *ngIf="this.registerForm.get('password')?.errors?.['required'] &&
                          this.registerForm.get('password')?.touched"
        >
          Password cannot be empty.
        </div>
        <div
          *ngIf="this.registerForm.get('password')?.errors?.['minlength'] &&
                           this.registerForm.get('password')?.touched"
        >
          Minimum 8 character length is required.
        </div>
      </div>

      <div class="w-100"></div>
      <!-- Password confirmation-->
      <!-- ===================================================== -->
      <div class="col-4 mt-3">
        <label for="register-password-confirmation"
          ><b>* Repeat password</b></label
        >
        <div class="w-100"></div>
        <input
          (change)="
            setLocalStorageValue(
              'registerRepeatedPassword',
              this.registerForm.get('passwordConfirmation')?.value
            )
          "
          id="register-password-confirmation"
          type="password"
          formControlName="passwordConfirmation"
          appValidatePasswordConfirmation
          [firstPassword]="this.registerForm.get('password')?.value"
        />

        <div class="w-100"></div>
        <div
          *ngIf="this.registerForm.get('passwordConfirmation')?.errors?.['required'] &&
                          this.registerForm.get('passwordConfirmation')?.touched"
        >
          Password repetation cannot be empty.
        </div>
        <div
          *ngIf="this.registerForm.get('passwordConfirmation')?.errors?.['unequivalentPassword'] &&
                          this.registerForm.get('passwordConfirmation')?.touched"
        >
          Two passwords must be the same.
        </div>
      </div>

      <div class="w-100"></div>
      <!-- EMAIL -->
      <!-- ===================================================== -->
      <div class="col-4 mt-3">
        <label class="" for="register-email"><b>* Email</b></label>
        <div class="w-100"></div>
        <input
          (change)="
            setLocalStorageValue(
              'registerEmail',
              this.registerForm.get('email')?.value
            )
          "
          id="register-email"
          type="text"
          formControlName="email"
          appBannedEmail
        />
        <div class="w-100"></div>

        <div
          *ngIf="this.registerForm.get('email')?.errors?.['required'] &&
                          this.registerForm.get('email')?.touched"
        >
          Email cannot be empty.
        </div>
        <div
          *ngIf="this.registerForm.get('email')?.errors?.['pattern'] &&
                    this.registerForm.get('email')?.touched"
        >
          Email hasn't got correct format.
        </div>
        <div
          *ngIf="this.registerForm.get('email')?.errors?.['bannedEmail'] &&
                          this.registerForm.get('email')?.touched"
        >
          The "{{ this.registerForm.get("email")?.value }}" email address cannot
          be used to register.
        </div>
      </div>

      <div class="w-100"></div>
      <!-- CIVIL STATUS -->
      <!-- ===================================================== -->
      <div class="col-4 mt-3">
        <label for="civilStatus"><b>* Civil Status</b></label>

        <div class="mt-2">
          <select
            (change)="
              setLocalStorageValue(
                'registerCivilStatus',
                this.registerForm.get('civilStatus')?.value
              )
            "
            id="civilStatus"
            name="civilStatus"
            formControlName="civilStatus"
          >
            <option
              *ngFor="let status of civilStatuses; let i = index"
              [value]="status | lowercase"
            >
              {{ status }}
            </option>
          </select>
        </div>

        <span
          *ngIf="this.registerForm.get('civilStatus')?.errors?.['required'] &&
                        this.registerForm.get('civilStatus')?.touched"
        >
          Civil status cannot be empty.
        </span>
      </div>

      <div class="w-100"></div>

      <!-- GENDER -->
      <!-- ===================================================== -->
      <div class="col-4 mt-3">
        <p>
          <b>* <u>Gender</u></b>
        </p>
        <div class="mt-2">
          <div
            class="d-flex justify-content-between"
            style="width: 5rem"
            *ngFor="let gender of genders"
          >
            <label for="{{ gender }}">{{ gender }}</label>
            <input
              type="radio"
              id="{{ gender }}"
              name="gender"
              value="{{ gender }}"
              formControlName="gender"
              (change)="
                setLocalStorageValue(
                  'registerGender',
                  this.registerForm.get('gender')?.value
                )
              "
            />
          </div>
        </div>
      </div>

      <div class="w-100"></div>

      <!-- INFORMATION ABOUT -->
      <!-- ===================================================== -->
      <div class="col-4 mt-3">
        <p>
          <b><u>Informations of interest</u></b>
        </p>

        <div>
          <div
            class="d-flex justify-content-between"
            style="width: 10rem"
            formArrayName="informationTypes"
            *ngFor="let type of informationTypes; let i = index"
          >
            <label class="" for="infoInterest">{{ type }}</label>
            <input
              type="checkbox"
              id="{{ type }}"
              name="infoInterest"
              value="{{ type }}"
              (change)="setLocalStorageInfoType()"
              [formControlName]="i"
            />
          </div>
        </div>
      </div>
      <br />

      <div class="w-100"></div>
      <!-- Accept conditions -->
      <!-- ===================================================== -->
      <div class="col-4 mt-5">
        <label class="mx-2 mb-2" for="acceptConditions">
          <b>* Accept conditions</b>
        </label>

        <input
          type="checkbox"
          id="acceptConditions"
          name="acceptConditions"
          value="conditionsAccepted"
          (change)="
            setLocalStorageValue(
              'registerAcceptConditions',
              this.registerForm.get('acceptConditions')?.value
            )
          "
          formControlName="acceptConditions"
        />

        <div class="w-100"></div>
        <div
          *ngIf="this.registerForm.get('acceptConditions')?.errors?.['required'] &&
                          this.registerForm.get('acceptConditions')?.touched"
        >
          Must accept the conditions.
        </div>
      </div>

      <div class="w-100"></div>

      <!-- Register button -->
      <!-- ===================================================== -->
      <div class="col-3">
        <button
          class="btn btn-m btn-info"
          type="submit"
          [disabled]="registerForm.invalid"
        >
          REGISTER
        </button>
      </div>
    </form>
  </fieldset>

  <div
    class="d-flex justify-content-center"
    *ngIf="this.registrationResult?.isSuccess"
  >
    <p class="text-success display-3"><b>Registered successfully!</b></p>
  </div>
  <div *ngIf="!this.registrationResult?.isSuccess">
    <p class="text-danger display-3">
      {{ this.registrationResult?.errorMessage }}
    </p>
  </div>
</div>
