<div class="d-flex justify-content-center">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        routerLink="/home"
        class="nav-link active"
        routerLinkActive='active'
        role="tab"
        >Home</a
      >
    </li>
    <li *ngIf="!this.isLoggedIn" class="nav-item" role="presentation">
      <a
        routerLink="/login"
        class="nav-link"
        routerLinkActive='active'
        role="tab"
        tabindex="-1"
        >Login</a
      >
    </li>
    <li *ngIf="!this.isLoggedIn" class="nav-item" role="presentation">
      <a
        routerLink="/register"
        class="nav-link"
        routerLinkActive='active'
        tabindex="-1"
        role="tab"
        >Register</a
      >
    </li>
    <li *ngIf="this.isLoggedIn" class="nav-item" role="presentation">
      <a
        routerLink='/events'
        class="nav-link"
        routerLinkActive='active'
        tabindex="-1"
        role="tab"
        >Events</a
      >
    </li>
    <li *ngIf="this.isLoggedIn" class="nav-item" role="presentation">
      <a
        (click)="doLogOut()"
        routerLink=""
        class="nav-link"
        tabindex="-1"
        role="tab"
        >Logout</a
      >
    </li>
  </ul>
</div>

<div *ngIf="this.isLoggedIn" class="d-flex justify-content-start align-items-center">
  <span>
    <img src="/assets/images/anonym-user-profile.png" style="width:8rem;heigh:8rem;">
  </span>
  <span>
    <p><b><u>User:</u></b> {{ this.loggedInRole }}</p>
    <p><b><u>Role:</u></b> {{ this.loggedInUsername }}</p>
  </span>
</div>

<router-outlet></router-outlet>
