<div class="d-flex justify-content-center">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        routerLink="/login"
        class="nav-link active"
        data-bs-toggle="tab"
        aria-selected="true"
        role="tab"
        >Home</a
      >
    </li>
    <li *ngIf="!this.isLoggedIn" class="nav-item" role="presentation">
      <a
        routerLink="/login"
        class="nav-link"
        data-bs-toggle="tab"
        aria-selected="false"
        role="tab"
        tabindex="-1"
        >Login</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        routerLink="/register"
        class="nav-link"
        data-bs-toggle="tab"
        aria-selected="false"
        tabindex="-1"
        role="tab"
        >Register</a
      >
    </li>
    <li *ngIf="this.isLoggedIn" class="nav-item" role="presentation">
      <a
        (click)="doLogOut()"
        routerLink=""
        class="nav-link"
        aria-selected="false"
        tabindex="-1"
        role="tab"
        >Logout</a
      >
    </li>
  </ul>
</div>

<div *ngIf="this.isLoggedIn">
  <p>User: {{ this.loggedInRole }}</p>
  <p>{{ this.loggedInUsername }}</p>
</div>

<router-outlet></router-outlet>
