<div>
  <div class="container">
    <div class="row">
        <div class="d-flex justify-content-around">
            <span *ngIf="!this.isLoggedIn" class="col-1">
              <a routerLink="/login">LOGIN</a>
            </span>
            <span class="col-1">
              <a routerLink="/register">REGISTER</a>
            </span>
            <span *ngIf="this.isLoggedIn === true" class="col-1">
              <a href="" (click)="doLogOut()" >LOGOUT</a>
            </span>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>


<!-- <app-login-form></app-login-form>
<app-register-form></app-register-form> -->
